* {
    background-color: #ffffff;
    font-weight: 650;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: #000000:
    font-weight: 800;
    text-align: center;
}

h2 {
    color: #000000:
    font-weight: 700;
    text-align: center;
}

h3 {
    color: black;
    font-weight: 600;
    text-align: center;
}

p {
    color: black;
    background-color: bisque;
}

li {
    text-align: left;
    background-color: blue;
    color: white;
}

 